//- Gallery item
mixin gallery-item(obj)
  a.gallery-item(href='images/' + obj.original + '.jpg', class=obj.classMod, data-lightgallery=obj.lightGallery)
    .gallery-item-image
      figure
        +jpg(obj.img)
      .caption
        if (obj.title)
          p.caption-title=obj.title
        if (obj.text)
          p.caption-text=obj.text
  if(obj.figcaption)
    .titled-gallery-caption
      a(href='single-project.html')=obj.figcaption