mixin team-classic(team, obj)
  case team
    when 'teamClassic'
      .team-classic
        .team-classic-image
          figure
            +jpg(obj.image)
          .team-classic-image-caption
            +list-inline-icon({
              list_class: 'list-inline list-team',
              items: [
                "icon-sm-bigger icon-white mdi mdi-facebook",
                "icon-sm-bigger icon-white mdi mdi-twitter",
                'icon-sm-bigger icon-white mdi mdi-instagram',
                'icon-sm-bigger icon-white mdi mdi-google-plus',
                'icon-sm-bigger icon-white mdi mdi-linkedin'
              ]
            })

        .team-classic-caption
          h5: a(href='about-me.html').team-classic-title=obj.title
          p.team-classic-job-position=obj.job_position
          a(href='about-me.html').button.button-xs.button-default-outline get in touch
          
    when 'teamClassicNoButton'
      .team-classic
        .team-classic-image
          figure
            +jpg(obj.image)
          .team-classic-image-caption
            +list-inline-icon({
              list_class: 'list-inline list-team',
              items: [
                "icon-sm-bigger icon-white mdi mdi-facebook",
                "icon-sm-bigger icon-white mdi mdi-twitter",
                'icon-sm-bigger icon-white mdi mdi-instagram',
                'icon-sm-bigger icon-white mdi mdi-google-plus',
                'icon-sm-bigger icon-white mdi mdi-linkedin'
              ]
            })

        .team-classic-caption
          h5: a(href='about-me.html').team-classic-title=obj.title
          p.team-classic-job-position=obj.job_position

    when 'teamCircle'
      .team-classic.team-classic-circle
        figure
          +jpg(obj.image, 'img-circle')
        .team-classic-caption
          h5: a(href='about-me.html').team-classic-title=obj.title
          p.team-classic-job-position=obj.job_position

          +list-inline-icon({
            list_class: 'list-inline list-team',
            items: [
              "icon-sm-bigger icon-gray-1 mdi mdi-facebook",
              "icon-sm-bigger icon-gray-1 mdi mdi-twitter",
              'icon-sm-bigger icon-gray-1 mdi mdi-instagram',
              'icon-sm-bigger icon-gray-1 mdi mdi-google-plus',
              'icon-sm-bigger icon-gray-1 mdi mdi-linkedin'
            ]
          })

    when 'teamInline'
      .team-inline
        .unit.unit-spacing-md.unit-sm-horizontal
          .unit-left
            .team-classic-image
              figure
                +jpg(obj.image)
          .unit-body
            h5: a(href='about-me.html').team-inline-title=obj.title
            p.team-classic-job-position=obj.job_position
            p.team-inline-text=obj.text
            +list-inline-icon({
              list_class: 'list-inline list-team',
              items: [
                "icon-sm-bigger icon-gray-1 mdi mdi-facebook",
                "icon-sm-bigger icon-gray-1 mdi mdi-twitter",
                'icon-sm-bigger icon-gray-1 mdi mdi-instagram',
                'icon-sm-bigger icon-gray-1 mdi mdi-google-plus',
                'icon-sm-bigger icon-gray-1 mdi mdi-linkedin'
              ]
            })